Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>rssroller</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <style type="text/css" media="screen, print">
		@import "css/flak.css";
        </style>
</head>
<body>
<div class="main">
<div class="topbar"><a href="http://rssroller.example.net/cgi-bin/rssroll.cgi" title="home">rssroller</a></div>
<div class="content">

<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/tools/cvs-tip-1-checking-out-an-entire-sourceforge-project/">CVS Tip 1: Checking out an Entire Sourceforge Project</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/tools/cvs-tip-1-checking-out-an-entire-sourceforge-project/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>The usual SourceForge CVS instructions ask you to check out modules like so:

  cvs -d:pserver:anonymous@cvs.sourceforge.net:/cvsroot/jedit login
  &#160;
  cvs -z3 -d:pserver:anonymous@cvs.sourceforge.net:/cvsroot/jedit co -P modulename

	Of course many projects are divided into multiple modules, all of
	which are required. You can check out the entire project, including
	all of its modules like this:


  cvs -d:pserver:anonymous@cvs.sourceforge.net:/cvsroot/project  login
  &#160;
  cvs -z3 -d:pserver:anonymous@cvs.sourceforge.net:/cvsroot/project co .

That is, [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/xml/pleasesir/">Please Sir. Can I have some more XML?</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/xml/pleasesir/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>
Here&#8217;s some code I had to write this morning. This isn&#8217;t all of it, and it isn&#8217;t done yet:


set theTime to the time of theDate
set theHours to theTime / 3600 as integer
set theMinutes to ((theTime mod 3600) / 60) as integer
set theSeconds to theTime mod 60
if (theSeconds &#38;lt; 10) then
  set theSeconds to "0" &#38; theSeconds
end [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/web/mokka/">Why Mokka mit Schlag?</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/web/mokka/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>About a year ago I launched a The Cafes with some fanfare to host shorter writings on a variety of subjects that didn’t already fit
into Cafe au Lait or Cafe con Leche. That site was a partial response to
my feelings about the shortcomings of a lot of existing weblog
management and CMS software. [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/ui/dontconfirm/">Don’t Confirm Me!</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/ui/dontconfirm/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>Over the last few days I’ve been trying out quite a bit of new software as part of a couple of new projects. This includes the
Vienna RSS client, the WordPress blogging engine, and the PHPMyAdmin
web-based interface to MySQL. Along the way I’ve noticed the same
repeating problem in each of these products, and [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/opensource/upgrades/">Upgrade Instructions Considered Necessary</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/opensource/upgrades/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>Some thoughts on upgrading open source server software
Yesterday I spent a couple of hours avoiding real work by upgrading my
software. Specifically I upgraded MySQL 4.1, Apache 2, and PHP here on
cafe.elharo.com after noticing that MySQL had crashed. I didn&#8217;t do
any major version upgrades, just moved everything up to the latest point [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/opensource/madashell/">Mad as Hell</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/opensource/madashell/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p> I&#8217;m getting really tired of paying for software that doesn&#8217;t work and isn&#8217;t supported. It&#8217;s one thing when a free-beer tool like Thunderbird or Eclipse or doesn&#8217;t work quite right. It&#8217;s quite another when I&#8217;ve given some company my hard-earned cash, and they can&#8217;t bothered to fix bugs,  answer my e-mail, or support [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/java/errormsg/">Ant: A Case Study in How Not To Write An Error Message</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/java/errormsg/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>After I complained about about build failures in Ant 1.6 on Cafe au Lait, a couple of Ant developers wrote to me after I initially
posted the above with various suggestions and FAQ references. They were
nothing I hadn&#8217;t tried before though. However what really got my
goat about this whole situation was not the [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/travel/westinsantaclara/">Notes on the Santa Clara Convention Center/Westin Santa Clara</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/travel/westinsantaclara/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p> After five plus years of staying way too often at this particular complex, I decided to put down some notes for fellow
travelers who find themselves booked into this boring behemoth or nearby
locations, situated in the middle of gorgeous suburban Santa Clara, home
of office parks and strip malls. Believe it or not, [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://cafe.elharo.com/java/turkish/">Comparing Strings For Equality</a></h3>
<div class="sf tail">
<br>
<a href="http://cafe.elharo.com/java/turkish/">cafe.elharo.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/3">follow</a><br />
</div>
<div class="desc">
<p>Java&#8217;s slogan is &#8220;Write once, run anywhere&#8221;; but perhaps it should be, &#8220;Write once, run anywhere except Turkey.&#8221; Java is a wonderful programming language that&#8217;s loved and adored around the world, but not in Turkey, a nation of more than 60 million people. Nor is Java all that popular with the millions of Turkish speakers [...]</p>
</div>
<a href="#categories">#categories</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://example.org/2005/04/02/atom">Atom draft-07 snapshot</a></h3>
<div class="sf tail">
Sun Jul 31 12:29:00 2005
<br>
<a href="http://example.org/2005/04/02/atom">example.org</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/1">follow</a><br />
</div>
<div class="desc">
<p>
         </p>
</div>
<a href="#categories">#categories</a>
</div>
</article>

<p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?1/20'> <<< </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?1/0'> >>> </a></p>
</div>
<div class="sidebar">
<div>
<a name="categories"><h3>Categories</h3></a>
<p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?1'>test1</a></p><p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?2'>test2</a></p>
</div>
</div>
</div>
</body></html>

