Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>rssroller</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <style type="text/css" media="screen, print">
		@import "css/flak.css";
        </style>
</head>
<body>
<div class="main">
<div class="topbar"><a href="http://rssroller.example.net/cgi-bin/rssroll.cgi" title="home">rssroller</a></div>
<div class="content">

<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://example.org/2005/04/02/atom">Atom draft-07 snapshot</a></h3>
<div class="sf tail">
Sun Jul 31 12:29:00 2005
<br>
<a href="http://example.org/2005/04/02/atom">example.org</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/1">follow</a><br />
</div>
<div class="desc">
<p>
         </p>
</div>
<a href="#tags">#tags</a>
</div>
</article>

<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
</div>
<div class="sidebar">
<div>
<a name="tags"><h3>Tags</h3></a>
<p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?1'>test1</a></p>
<p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?2'>test2</a></p>

</div>
</div>
</div>
</body></html>

