Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>rssroller</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <style type="text/css" media="screen, print">
		@import "css/flak.css";
        </style>
</head>
<body>
<div class="main">
<div class="topbar"><a href="http://rssroller.example.net/cgi-bin/rssroll.cgi" title="home">rssroller</a></div>
<div class="content">

<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://xml.com/pub/2000/08/09/xslt/xslt.html">Processing Inclusions with XSLT</a></h3>
<div class="sf tail">
<br>
<a href="http://xml.com/pub/2000/08/09/xslt/xslt.html">xml.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/4">follow</a><br />
</div>
<div class="desc">
<p>
     Processing document inclusions with general XML tools can be
     problematic. This article proposes a way of preserving inclusion
     information through SAX-based processing.
    </p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://xml.com/pub/2000/08/09/rdfdb/index.html">Putting RDF to Work</a></h3>
<div class="sf tail">
<br>
<a href="http://xml.com/pub/2000/08/09/rdfdb/index.html">xml.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/4">follow</a><br />
</div>
<div class="desc">
<p>
     Tool and API support for the Resource Description Framework
     is slowly coming of age. Edd Dumbill takes a look at RDFDB,
     one of the most exciting new RDF toolkits.
    </p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://writetheweb.com/read.php?item=24">Giving the world a pluggable Gnutella</a></h3>
<div class="sf tail">
<br>
<a href="http://writetheweb.com/read.php?item=24">writetheweb.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/2">follow</a><br />
</div>
<div class="desc">
<p>WorldOS is a framework on which to build programs that work like Freenet or Gnutella -allowing distributed applications using peer-to-peer routing.</p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://writetheweb.com/read.php?item=23">Syndication discussions hot up</a></h3>
<div class="sf tail">
<br>
<a href="http://writetheweb.com/read.php?item=23">writetheweb.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/2">follow</a><br />
</div>
<div class="desc">
<p>After a period of dormancy, the Syndication mailing list has become active again, with contributions from leaders in traditional media and Web syndication.</p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://writetheweb.com/read.php?item=22">Personal web server integrates file sharing and messaging</a></h3>
<div class="sf tail">
<br>
<a href="http://writetheweb.com/read.php?item=22">writetheweb.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/2">follow</a><br />
</div>
<div class="desc">
<p>The Magi Project is an innovative project to create a combined personal web server and messaging system that enables the sharing and synchronization of information across desktop, laptop and palmtop devices.</p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://writetheweb.com/read.php?item=21">Syndication and Metadata</a></h3>
<div class="sf tail">
<br>
<a href="http://writetheweb.com/read.php?item=21">writetheweb.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/2">follow</a><br />
</div>
<div class="desc">
<p>RSS is probably the best known metadata format around. RDF is probably one of the least understood. In this essay, published on my O'Reilly Network weblog, I argue that the next generation of RSS should be based on RDF.</p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://writetheweb.com/read.php?item=20">UK bloggers get organised</a></h3>
<div class="sf tail">
<br>
<a href="http://writetheweb.com/read.php?item=20">writetheweb.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/2">follow</a><br />
</div>
<div class="desc">
<p>Looks like the weblogs scene is gathering pace beyond the shores of the US. There's now a UK-specific page on weblogs.com, and a mailing list at egroups.</p>
</div>
<a href="#tags">#tags</a>
</div>
</article>
<article>
<div class="post">
<a name="top"></a>
<h3><a href="http://writetheweb.com/read.php?item=19">Yournamehere.com more important than anything</a></h3>
<div class="sf tail">
<br>
<a href="http://writetheweb.com/read.php?item=19">writetheweb.com</a>&nbsp;|&nbsp;<a href="http://rssroller.example.net/cgi-bin/rssroll.cgi?0/2">follow</a><br />
</div>
<div class="desc">
<p>Whatever you're publishing on the web, your site name is the most valuable asset you have, according to Carl Steadman.</p>
</div>
<a href="#tags">#tags</a>
</div>
</article>

<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
</div>
<div class="sidebar">
<div>
<a name="tags"><h3>Tags</h3></a>
<p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?1'>test1</a></p>
<p><a href='http://rssroller.example.net/cgi-bin/rssroll.cgi?2'>test2</a></p>

</div>
</div>
</div>
</body></html>

